body {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
}

.main {
  margin-top: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

h1 {
  font-size: 2em;
  color: #92C7CF;
  margin-block-start: 0;
  margin-block-end: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: #E5E1DA;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 20px;
  border-left: 0px solid;
  border-right: 0px solid;
}

label {
  display: inline-block;
  margin-bottom: 0.25rem;
}

input {
  margin-right: 1rem;
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
}

.form {
  display: grid;
  grid-template-columns: repeat(6, minmax(10px, 1fr));
}

.add-button {
  font-family: "Noto Sans JP", sans-serif;
  padding: 0.5rem;
  margin-top: 1.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #aad7d9;
  color: #fff;
  cursor: pointer;
}

.delete-button {
  font-family: "Noto Sans JP", sans-serif;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #FF004D;
  color: #fff;
  cursor: pointer;
}

.navbar {
  background-image: url(./assets/image.png);
  height: 12rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: grid;
  grid-template-columns: repeat(6, minmax(10px, 1fr));
  place-content: center;
}

@media screen and (max-width: 1200px) {
  .navbar {
    grid-template-columns: repeat(4, minmax(10px, 1fr));
  }

  .form {
    width: 75%;
    grid-template-columns: repeat(4, minmax(10px, 1fr));
  }
}

@media screen and (max-width: 960px) {
  h1 {
    font-size: 1.6em;
  }

  .form {
    width: 75%;
    grid-template-columns: repeat(3, minmax(10px, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    grid-template-columns: repeat(1, minmax(10px, 1fr));
  }

  label {
    margin-top: 0.75rem;
    width: 100%;
  }

  input {
    margin: 0;
  }

  .form {
    grid-template-columns: repeat(1, minmax(10px, 1fr));
  }

  .add-button {
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: fit-content;
  }
}
